[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/karak-onchain-sdk"]
	path = lib/karak-onchain-sdk
	url = https://github.com/karak-network/karak-onchain-sdk
